.button {  
    width: 200px;  
    padding:8px;  
    background-color: #428bca;  
    border-color: #357ebd;  
    color: #fff;  
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;  
    border-radius: 10px; /* future proofing */  
    -khtml-border-radius: 10px; /* for old Konqueror browsers */  
    text-align: center;  
    vertical-align: middle;  
    border: 1px solid transparent;  
    font-weight: 900;  
    font-size:125%  
  }  


.h2 {
    background: #2B6600;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    color: #FFFFFF;
    font-family:"微软雅黑", "宋体", "黑体", Arial;
    font-size: 15px;
    font-weight: bold;
    height: 24px;
    line-height: 23px;
    margin: 12px 0 !important;
    padding: 5px 0 5px 10px;
    text-shadow: 2px 2px 3px #222222;
}
